.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
    border: none; /* Hilangkan border pada card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan */
}

.card-header {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-body ul {
    font-size: 1rem;
    line-height: 1.7; /* Memberikan ruang antar baris */
}

.card-body ul li {
    margin-bottom: 10px;
}

.card-body ul li::before {
  content: "•"; /* Tambahkan bullet point */
  color: #FFA500; /* Warna sesuai tema */
  font-weight: bold;
  margin-right: 8px;
}
